@media (max-width: 1240px) {
    .info {
        &__text {
            gap: 40px;
        }
    }
}
@media (max-width: 1170px) {
    .talk {
        &__back {
            img {
                height: 650px;
            }
        }
    }
}
@media (max-width: 1120px) {
    .info {
        &__text {
            gap: 20px;
        }
    }
}
@media (max-width: 1080px) {
    .thrive {
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 17px;
            span {
                font-size: 21px;
            }
        }
    }
    .info {
        &__img {
            width: 370px;
            object-fit: cover;
        }
    }
}
@media (max-width: 1030px) {
    .thrive {
        &__title {
            margin-top: 100px;
        }
        &__subtitle {
            margin-top: 55px;
        }
    }
}
@media (max-width: 1000px) {
    .talk {
        &__back {
            img {
                height: 550px;
            }
        }
    }
    .know {
        &__text {
            margin-left: 45px;
            margin-right: 10px;
        }
    }
}
@media (max-width: 985px) {
    .block {
        &_descr {
            font-size: 26px;
            max-width: 155px;
        }
    }
}
@media (max-width: 970px) {
    .thrive {
        &__title {
            font-size: 27px;
        }
        &__subtitle {
            font-size: 15px;
            span {
                font-size: 17px;
            }
        }
    }
}
@media (max-width: 955px) {
    .smile {
        &__title {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 30px;
        }
    }
}
@media (max-width: 940px) {
    .thrive {
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 14px;
            span {
                font-size: 15px;
            }
        }
        &__wrapper {
            max-width: 450px;
        }
    }
}
@media (max-width: 920px) {
    .talk {
        &__back {
            img {
                display: none;
            }
        }
        &__bg {
            width: 100%;
        }
        &__wrapper {
            max-width: 80%;
            margin: 0 auto;
        }
        &__btns {
            justify-content: center;
        }
        &__title {
            text-align: center;
        }
    }
}
@media (max-width: 900px) {
    .about {
        &__descr {
            left: 35px;
        }
    }
    .facts {
        &__wrapper {
            grid-column-gap: 100px;
        }
    }
    .know {
        &__img {
            display: none;
        }
        &__descr {
            margin-top: 20px;
        }
        &__title {
            margin-top: 30px;
        }
        &__help {
            margin-top: 30px;
        }
        &__text {
            margin: 0 20px;
        }
    }
    .smile {
        &__img {
            display: none;
        }
        &__text {
            text-align: center;
        }
        &__title {
            margin-top: 100px;
        }
        &__link {
            margin: 0 auto;
            margin-top: 75px;
            margin-bottom: 75px;
        }
    }
    .info {
        &__img {
            width: 270px;
        }
    }
}
@media (max-width: 859px) {
    .thrive {
        &__text {
            text-align: center;
        }
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 21px;
            max-width: 80%;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            span {
                font-size: 23px;
            }
        }
        &__img {
            display: none;
        }
        &__wrapper {
            max-width: 100%;
        }
    }
}
@media (max-width: 845px) {
    .about {
        &__descr {
            display: block;
            position: relative;
            text-align: center;
            left: 0;
            margin-top: 40px;
        }
        &__title {
            margin: 0 auto;
            margin-top: 50px;
            padding: 0 10px;
        }
    }
}
@media (max-width: 835px) {
    .block {
        &_descr {
            font-size: 23px;
            max-width: 90px;
        }
    }
}
@media (max-width: 800px) {
    .blocks {
        &_grid {
            grid-template-rows: repeat(2, 280px);
        }
    }
}
@media (max-width: 780px) {
    .info {
        &__img {
            display: none;
        }
        &__text {
            gap: 50px;
            justify-content: space-between;
        }
    }
}
@media (max-width: 700px) {
    .facts {
        &__wrapper {
            grid-column-gap: 70px;
        }
        &__title {
            font-size: 22px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }
}
@media (max-width: 600px) {
    .talk {
        margin-top: 100px;
        &__wrapper {
            max-width: 90%;
        }
    }
    .thrive {
        &__title {
            font-size: 35px;
        }
        &__subtitle {
            font-size: 19px;
            max-width: 100%;
            span {
                font-size: 22px;
            }
        }
    }
    .info {
        &__text {
            gap: 20px;
        }
    }
}
@media (max-width: 590px) {
    .facts {
        &__wrapper {
            grid-column-gap: 40px;
            grid-template-rows: repeat(2, 240px);
        }
        &__title {
            text-align: center;
        }
    }
}
@media (max-width: 585px) {
    .block {
        height: 260px;
        &_descr {
            font-size: 20px;
            max-width: 75px;
        }
    }
    .blocks {
        &_grid {
            grid-template-rows: repeat(2, 260px);
        }
    }
}
@media (max-width: 535px) {
    .header {
        &__logo {
            a {
                font-size: 20px;
            }
        }
        &__btn {
            width: 110px;
            height: 40px;
            font-size: 12px;
        }
    }
    .talk {
        &__title {
            font-size: 35px;
        }
        &__subtitle {
            font-size: 20px;
            margin-top: 35px;
        }
    }
}
@media (max-width: 520px) {
    .info {
        &__text {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            grid-row-gap: 50px;
            margin: 0 10px;
            margin-top: 75px;
            margin-bottom: 75px;
        }
    }
}
@media (max-width: 500px) {
    .about {
        &__title {
            font-size: 20px;
        }
    }
    .know {
        &__title {
            font-size: 25px;
            line-height: 40px;
            span {
                font-size: 27px;
            }
        }
    }
    .block {
        &_descr {
            &::before {
                display: none;
            }
        }
    }
}
@media (max-width: 487px) {
    .facts {
        &__wrapper {
            grid-template-rows: repeat(2, 290px);
        }
        &__title {
            font-size: 19px;
        }
    }
}
@media (max-width: 470px) {
    .header {
        &__logo {
            a {
                display: none;
            }
        }
        &__wrapper {
            justify-content: center;
            gap: 25px;
        }
    }
}
@media (max-width: 460px) {
    .thrive {
        &__title {
            margin-top: 60px;
            font-size: 30px;
        }
        &__subtitle {
            font-size: 17px;
            span {
                font-size: 19px;
            }
        }
    }
}
@media (max-width: 450px) {
    .facts {
        &__wrapper {
            grid-column-gap: 30px;
            grid-template-rows: repeat(2, 260px);
        }
        &__title {
            font-size: 17px;
        }
        &__subtitle {
            margin-top: 10px;
        }
    }
}
@media (max-width: 390px) {
    .header {
        &__list {
            gap: 10px;
        }
        &__wrapper {
            margin-left: 0;
        }
    }
    .block {
        &_descr {
            font-size: 18px;
            &::before {
                display: none;
            }
        }
    }
    .mw95 {
        max-width: 95px;
    }
}
@media (max-width: 400px) {
    .facts {
        &__wrapper {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, 200px);
        }
    }
}
@media (max-width: 380px) {
    .facts {
        &__subtitle {
            font-size: 12px;
        }
    }
}
@media (max-width: 330px) {
    .header {
        &__btn {
            width: 100px;
            font-size: 10px;
        }
    }
}