.thrive {
    position: relative;
    &__wrapper {
        display: flex;
        max-width: 555px;
    }
    &__img {
        position: absolute;
        max-width: 525px;
        max-height: 100%;
        right: 0;
        top: 0;
    }
    &__text {
        max-width: 100%;
        margin: 0 10px;
    }
    &__title {
        color: #fff;
        margin-top: 150px;
        font-size: 36px;
        font-weight: 700;
    }
    &__subtitle {
        color: #fff;
        font-size: 20px;
        margin-top: 75px;
        line-height: 35px;
        margin-bottom: 95px;
        span {
            color: #fff;
            font-size: 24px;
            line-height: 20px;
            font-weight: 500;
        }
    }
    &__bg {
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background: #62D0DF;
        z-index: -1;
    }
}