.facts {
    &__wrapper {
        margin-top: 22px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, 240px);
        justify-content: center;
        grid-column-gap: 180px;
        margin: 0 10px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        max-width: 234px;
        margin-top: 55px;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: -0.03em;
        color: #22356F;
        font-weight: 400;
    }
    &__subtitle {
        max-width: 300px;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: -0.03em;
        color: rgba(34, 53, 111, 0.5);
        margin-top: 30px;
        margin-bottom: 37px;
    }
}